.authLabel {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #000000;
}

.authInput {
  display: block;
  width: 253px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 17px 20px 17px 20px;
  background-color: #f6f7fb;
  margin-top: 12px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .authInput {
    width: 265px;
    margin-top: 10px;
  }

  .authLabel {
    font-size: 12px;
    line-height: 1.7;
  }
}
