.section {
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
}

.wrap {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 75px;
    text-align: left;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .wrap {
    margin-bottom: 0;
    margin-left: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .bottomBgWrapper {
    background-image: url('../../images/bg-cabbage-elements/cabbage-group-tab.png');
    height: 1183px;
    background-repeat: no-repeat;
    background-position: top 950px left 497px;
  }
}

@media screen and (min-width: 1280px) {
  .bottomBgWrapper {
    height: 1140px;
    background-image: url('../../images/bg-cabbage-elements/cabbage-group.png');
    background-repeat: repeat-x;
    background-position: top 903px left 0;
  }
}
