@media screen and (min-width: 768px) {
  .section {
    background-image: url('../../images/bg-cabbage-elements/cabbage-group-tab.png');
    height: 1183px;
    background-repeat: no-repeat;
    background-position: top 950px left 497px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    background-image: url('../../images/bg-cabbage-elements/cabbage-group.png');
    height: 830px;
    background-repeat: repeat-x;
    background-position: top 593px left 0;
  }
}
