.hero {
  padding: 86px 0 0 49px;
  /* background-image: url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-right.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png');
  background-repeat: no-repeat;
  background-size: 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px,
    83px, 83px, 83px, 83px, cover;
  background-position: top 91px left 10px, top 28px left 140px,
    top 177px left 152px, top 28px left 389px, top 91px left 259px,
    top 28px left 389px, top 91px left 508px, top 28px left 638px,
    top 91px left 757px, top 28px left 887px, top 91px left 1006px,
    top 165px left 1128px, top 28px left 1136px, top 91px left 1255px; */
  /* animation: test 2s forwards ease-in-out; */
}

.heroTitle {
  margin-left: 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #52555f;
}

@media screen and (min-width: 768px) {
  .heroTitle {
    margin-left: 55px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
  }
}

@media screen and (min-width: 1280px) {
  .heroTitle {
    margin-left: 70px;
  }
}

/* .bgTopLeft {
  position: absolute;
  top: 91px;
  width: 86px;
  background-image: url('../../images/bg-cabbage-elements/bg-top-left.png');
  background-size: 83px;
  background-repeat: no-repeat;
  background-position: top 0px left 10px;
  animation: test 2s forwards ease-in-out;
} */
/* 
@keyframes test {
  from {
    margin-top: 25%;
    margin-left: 50%;
    width: 0vw;
    height: 0vh;
  }
  to {
    margin-top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
} */

@media screen and (min-width: 768px) {
  .hero {
    padding: 90px 0 0 171px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding: 308px 0 0 230px;
  }
}

.heroLogo {
  width: 183px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .heroLogo {
    width: 306px;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .heroLogo {
    width: 377px;
    height: auto;
  }
}
