.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 19px;
  padding-right: 19px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* padding-left: 442px; */
    padding-right: 110px;
  }
}
