.option {
  position: absolute;
  width: 104px;
  height: 40px;
  left: 40px;
  top: 154px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #c7ccdc;
}

.select {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;
  left: 19px;
  top: 110px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 16px 0;
}
@media screen and (min-width: 767px) {
  .select {
    width: 171px;
    border-radius: 0;
    border-color: #f5f6fb;
  }
}
@media screen and (min-width: 1279px) {
  .select {
    width: 188px;
  }
}

.input {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;
  left: 19px;
  top: 110px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
}
@media screen and (min-width: 767px) {
  .input {
    width: 192px;
    border-radius: 16px 0 0 0;
    border-right: none;
    border-color: #f5f6fb;
  }
}
@media screen and (min-width: 1279px) {
  .input {
    width: 289px;
  }
}

.input::placeholder {
  display: block;
  width: 155px;
  height: 40px;
  left: 39px;
  top: 112px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: #c7ccdc;
  margin-left: 20px;
}
