.option:hover {
  background-color: var(--light-color-gray);
}

.select {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 0 0 16px 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
  padding-left: 20px;
}
.select::after {
  border-color: 2px solid var(--accent-color);
}

.select:not([multiple]) {
  padding-right: 35px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 18px;
  background-image: url(../../svg/Vector.svg);
}
.select:focus {
  border: 2px solid var(--accent-color);
}
.select:hover {
  border: 2px solid var(--accent-color);
}
@media screen and (min-width: 767px) {
  .select {
    width: 171px;
    border-radius: 0;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .select {
    width: 188px;
  }
}

.input {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  padding-left: 20px;
  color: var(--second-white-color);
}
@media screen and (min-width: 767px) {
  .input {
    width: 192px;
    border-radius: 16px 0 0 0;
    border-right: none;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .input {
    width: 289px;
  }
}
.input:focus {
  border: 2px solid var(--accent-color);
}
.input:hover {
  border: 2px solid var(--accent-color);
}
.input::placeholder {
  display: block;
  width: 155px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
}

.container {
  display: inline-block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.menu-list {
  display: none;
}

.control {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 0 0 16px 0;

  border-color: var(--white-color);

  border-style: solid;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
  cursor: pointer;

  padding-left: 15px;
}
.control::after {
  border-color: 2px solid var(--accent-color);
}

.control:not([multiple]) {
  padding-right: 35px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 18px;
  background-image: url(../../svg/Vector.svg);
}
.control:focus {
  border: 2px solid var(--accent-color);
}
.control:hover {
  border: 2px solid var(--accent-color);
}
@media screen and (min-width: 767px) {
  .control {
    width: 171px;
    border-radius: 0;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .control {
    width: 188px;
  }
}
