.option:hover {
  background-color: #f5f6fb;
}

.select {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 16px 0;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.02em;

  color: #c7ccdc;
  padding-left: 20px;
}
.select::after {
  border-color: 2px solid red;
}

.select:not([multiple]) {
  padding-right: 35px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 18px;
  background-image: url(../../svg/Vector.svg);
}
.select:focus {
  border: 2px solid #ff751d;
}
.select:hover {
  border: 2px solid #ff751d;
}
@media screen and (min-width: 767px) {
  .select {
    width: 171px;
    border-radius: 0;
    border-color: #f5f6fb;
  }
}
@media screen and (min-width: 1279px) {
  .select {
    width: 188px;
  }
}

.input {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  padding-left: 20px;
  color: #c7ccdc;
}
@media screen and (min-width: 767px) {
  .input {
    width: 192px;
    border-radius: 16px 0 0 0;
    border-right: none;
    border-color: #f5f6fb;
  }
}
@media screen and (min-width: 1279px) {
  .input {
    width: 289px;
  }
}
.input:focus {
  border: 2px solid #ff751d;
}
.input:hover {
  border: 2px solid #ff751d;
}
.input::placeholder {
  display: block;
  width: 155px;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #c7ccdc;
}
