@media screen and (min-width: 320px) {
  .container {
    width: 248px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  body {
    position: relative;
  }

  .balance-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--main-color-grey);

    margin-bottom: 6px;
  }

  .balance-case2 {
    display: flex;
    justify-content: center;
  }

  .balance-sum {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--black-color);
    border-radius: 22px;
    padding: 15px 17px 15px 17px;
    min-width: 122px;
    font-size: 12px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: #f5f6fb;
    border: 2px solid var(--white-color);
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .balance-case {
    display: flex;
  }

  .balance-name {
    padding: 12px 0px;
    margin: 0 21px 0 0;
  }

  .balance-sum {
    border-radius: 16px;
    padding: 12px 20px 12px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    align-items: center;
    width: 220px;
  }
}
