.transactionSwitchNavigation {
  display: inline-block;
  margin-right: auto;
}

.transactionSwitcList {
  list-style: none;
  display: flex;
}

.transactionSwitchButton {
  width: 138px;
  height: 40px;
  padding: 12px 15px;
  border-radius: 20px 20px 0 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
  background-color: #fafbfd;
  border: 0;

  transition: background-color var(--hover-transition),
    color var(--hover-transition);
}

.transactionSwitchActiveButton {
  width: 138px;
  height: 40px;
  padding: 12px 15px;
  border-radius: 20px 20px 0 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ff751d;
  background-color: #ffffff;
  border: 0;

  transition: background-color var(--hover-transition),
    color var(--hover-transition);
}

.transactionSwitchButton:hover,
.transactionSwitchButton:focus {
  color: #ff751d;
  background-color: #fafbfd;
}

.transactionSwitchActiveButton:hover,
.transactionSwitchActiveButton:focus {
  color: #ff751d;
  background-color: #ffffff;
}
