.transactionSwitchNavigation {
  /* display: inline-block;
  margin-right: auto; */
}
@media screen and (max-width: 768px) {
  .transactionSwitchNavigation {
    position: fixed;
    bottom: 0;
  }
}

.transactionSwitcList {
  list-style: none;
  display: flex;
}

.transactionSwitchButton {
  width: 159px;
  height: 53px;
  padding: 12px 15px;
  /* border-radius: 20px 20px 0 0; */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
  background-color: var(--light-color-gray);
  border: 0;

  transition: background-color var(--hover-transition),
    color var(--hover-transition);
}

.transactionSwitchActiveButton {
  width: 159px;
  height: 53px;
  padding: 12px 15px;
  /* border-radius: 20px 20px 0 0; */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 0;

  transition: background-color var(--hover-transition),
    color var(--hover-transition);
}

.transactionSwitchButton:hover,
.transactionSwitchButton:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
}

.transactionSwitchActiveButton:hover,
.transactionSwitchActiveButton:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .transactionSwitchButton {
    width: 138px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background-color: #fafbfd;
    color: var(--black-color);
  }

  .transactionSwitchButton:hover,
  .transactionSwitchButton:focus {
    color: var(--accent-color);
    background-color: #fafbfd;
  }

  .transactionSwitchActiveButton {
    width: 138px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    color: var(--accent-color);
    background-color: #fefefe;
  }

  .transactionSwitchActiveButton:hover,
  .transactionSwitchActiveButton:focus {
    color: var(--accent-color);
    background-color: #fefefe;
  }
}
