.transactionSwitchNavigation {
  display: inline-block;
}

.transactionSwitcList {
  list-style: none;
  display: flex;
}

.transactionSwitchButton {
  width: 138px;
  height: 40px;
  padding: 12px 15px;
  border-radius: 20px 20px 0 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000000;
  background-color: #fefefe;
  border: 0;
}

.transactionSwitchActivButton {
  color: #ff751d;
  background-color: #fafbfd;
}

.transactionSwitchButton:hover {
  color: #ff751d;
  background-color: #fafbfd;
}
