@media screen and (min-width: 1279px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

.outcomes_div {
  padding-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .outcomes_div {
    margin-top: 28px;
    padding: 0;
  }
}

@media screen and (min-width: 1279px) {
  .outcomes_div {
    margin-top: 33px;
  }
}
