.container {
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 194px;
  background: var(--white-color);
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 767px;
    zoom: 80%;
  }
}

.is_hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal_content {
  width: 281px;
  height: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color-grey);
  display: block;
  margin-bottom: 20px;
}

.button_div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  justify-content: space-between;
}

.close_btn {
  top: 15px;
  right: 15px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
}

.button_text {
  width: 57px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
