.modal {
  position: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  height: 194px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
  border-radius: 30px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  .modal {
    zoom: 85%;
  }
}

.is_hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal_content {
  width: 281px;
  height: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #52555f;
  display: block;
  margin-bottom: 20px;
}

.button_div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.button_yes {
  background: #ff751d;
  margin-right: 15px;
  color: #ffffff;
  border: none;
}
/* .button_yes:hover{
border: 2px solid #F5F6FB;
background-color: transparent;
}

.button_yes:hover .button_text{
     color: #52555F;

} */

.button_no {
  border: 2px solid #f5f6fb;
  box-sizing: border-box;
  background-color: transparent;
  color: #52555f;
}
/* .button_no:hover{
background: #FF751D;
border: 2px solid ;
}
.button_no:hover .button_text{
     color: #FFFFFF;

} */

.close_btn {
  top: 12px;
  right: -89px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
}

.button_text {
  width: 57px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.16;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
/* .button_text:hover{
   color: #52555F;
} */
