.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 19px 13px 19px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 12px 26px 13px 26px;
  }
}
