/* ///    Selector */
.option {
  position: absolute;
  width: 104px;
  height: 40px;
  left: 40px;
  top: 154px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
}

.option:hover {
  background-color: var(--light-color-gray);
}

.select {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 0 0 16px 0;

  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-size: 12px;
  line-height: 14px;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
  padding-left: 20px;
}
.select::after {
  border-color: 2px solid var(--accent-color);
}

.select:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 18px;
  /* background-size: 0.85em auto; */
  background-image: url(../../svg/Vector.svg);
}

@media screen and (min-width: 767px) {
  .select {
    width: 171px;
    border-radius: 0;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .select {
    width: 188px;
  }
}

.input {
  background-color: transparent;
  display: block;
  width: 282px;
  height: 44px;
  left: 19px;
  top: 110px;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  padding-left: 20px;
  color: var(--second-white-color);
}
@media screen and (min-width: 767px) {
  .input {
    width: 192px;
    border-radius: 16px 0 0 0;
    border-right: none;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .input {
    width: 289px;
  }
}

.input::placeholder {
  display: block;
  width: 155px;
  height: 40px;
  left: 39px;
  top: 112px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;

  color: var(--second-white-color);
}

/* ///// inputs */

@media screen and (min-width: 1279px) {
  .container {
    position: relative;
    display: flex;
    justify-content: center;
  }
}

.button_div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  justify-content: space-between;
}

@media screen and (min-width: 1279px) {
  .button_div {
    margin: 0;
    margin-top: 33px;
  }
}

.input_price {
  position: relative;
  width: 125px;
  height: 44px;
  background-color: transparent;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 22px 0px 0px 22px;

  display: block;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  color: var(--second-white-color);
}
@media screen and (min-width: 767px) {
  .input_price {
    width: 104px;
    border-radius: 0 16px 16px 0;
    border-left: none;
    border-color: var(--light-color-gray);
  }
}
@media screen and (min-width: 1279px) {
  .input_price {
    width: 126px;
  }
}

.input_price::placeholder {
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  text-align: right;
  padding-right: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--black-color);
}
@media screen and (min-width: 767px) {
  .input_price::placeholder {
    padding-right: 45px;

    color: var(--second-white-color);
  }
}

.calculator {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 19px;
  top: 10px;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .calculator {
    left: 598px;
    top: 38px;
  }
}
@media screen and (min-width: 1279px) {
  .calculator {
    left: 720px;
    top: 45px;
  }
}

.culc_div {
  width: 60px;
  height: 44px;

  border: 2px solid var(--white-color);
  box-sizing: border-box;
  border-radius: 22px 0px 0px 22px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media screen and (min-width: 767px) {
  .form {
    margin-top: 28px;
    display: flex;
    width: 467px;
    margin-right: 30px;
    border: 2px solid var(--light-color-gray);
    box-sizing: border-box;
    border: transparent;
  }
}
@media screen and (min-width: 1279px) {
  .form {
    margin-top: 0;
    width: 600px;
  }
}
.outcomes_div {
  padding-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .outcomes_div {
    margin-top: 28px;
    padding: 0;
  }
}

@media screen and (min-width: 1279px) {
  .outcomes_div {
    margin-top: 33px;
  }
}

.currency_div {
  margin-top: 30px;
  margin-bottom: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  .currency_div {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .date {
    width: 104px;
    margin-right: 33px;
  }
}
@media screen and (min-width: 1279px) {
  .date {
    margin-right: 23px;
    margin-bottom: 30px;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
