.balance_string {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 0;

    height: 44px;
  }
}
.form_label {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 6px;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 21px;
  }
}

.input_box {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }

  @media screen and (max-width: 1280px) {
    margin-left: 150px;
  }
}

.form_title {
  width: 83px;
  height: 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: --color-grey;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-right: 21px;
    text-align: right;
  }
}

.input {
  box-sizing: border-box;
  width: 125px;
  height: 44px;
  padding-right: 17px;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 50px 0 0 50px;
  background-color: #f5f6fb;
  font-family: inherit;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    border-radius: 16px;
  }

  @media screen and (min-width: 1280x) {
    // margin-right: 21px;
  }
}
