.data_rows {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 2px solid #f5f6fb;
}

.data_rows:nth-child(-4n + 4) {
  font-size: 12px;
  line-height: 1.16;
  font-weight: bold;
  align-items: center;

  padding: 0;

  color: #e7192e;
}

@media screen and (max-width: 767px) {
  .data_rows:nth-child(-2n + 2) {
    position: absolute;
    top: 10px;
    left: 0px;

    font-size: 12px;
    line-height: 1.16;
    font-weight: bold;
    align-items: center;
    letter-spacing: 0.04em;

    color: #52555f;
    border: none;
  }
}

@media screen and (max-width: 767px) {
  .data_rows:nth-child(-4n + 4) {
    font-size: 12px;
    line-height: 1.16;
    font-weight: bold;
    align-items: center;
    text-align: right;
    letter-spacing: 0.04em;

    color: #e7192e;
  }
}
@media screen and (max-width: 767px) {
  .data_rows:first-child {
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .data_rows:nth-child(-3n + 3) {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .data_rows:last-child {
    text-align: end;
  }
}

@media screen and (min-width: 767px) {
  .data_rows {
    width: 38px;
    padding: 10px;
    border-bottom: 2px solid #f5f6fb;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.04em;
    text-align: left;
    padding-left: 20px;
    color: #52555f;
  }
}

@media screen and (min-width: 767px) {
  .data_rows:nth-child(5n + 1) {
    border-left: 2px solid #f5f6fb;
  }
}

@media screen and (min-width: 767px) {
  .data_rows:nth-child(5n) {
    border-right: 2px solid #f5f6fb;
  }
}

.row {
  background: #ffffff;
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.04em;

  color: #52555f;
  height: 50px;
}
.row::after {
  border: 1px solid black;
}

@media screen and (min-width: 767px) {
  .row {
    height: 40px;
  }
}

.table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 282px;
}
@media screen and (min-width: 767px) {
  .table {
    background: #f5f6fb;
    width: 605px;
    margin-top: 48px;
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (min-width: 1279px) {
  .table {
    width: 760px;
    margin-top: 59px;
  }
}

@media screen and (min-width: 767px) {
  .table_head {
    height: 38px;
    text-align: left;
  }
}
/* 
////////////////// */
/* 
.scroll_table_body {
  	height: 300px;
	overflow-x: auto;
  overflow-y: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
 
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	text-align: left;
	border: none;

	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
} */
/* .scroll-table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	font-size: 14px;
} */
/* .scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
} */

/* ///////////////// */

@media screen and (max-width: 767px) {
  .delete_btn {
    padding-left: 20px;
  }
}
.delete_btn {
  background-color: transparent;
  border: none;
}

.date_column {
  padding-left: 20px;
}

.resizer {
  right: 0;
  background: blue;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
