:root {
  --accent-color: #ff751d;
  --main-color-grey: #52555f;
  --light-color-gray: #f5f6fb;
  --balance-minus: #e53935;
  --balance-plus: #407946;
  --white-color: #ffffff;
  --second-white-color: #c7ccdc;
  --color-grey: rgba(82, 85, 95, 0.7);
  --container-color-grey: rgb(170, 178, 197);
  --dark-blue-color: #071f41;
  --black-color: #000000;
  --main-font: 'Roboto', sans-serif;
  --font-size: 12px;
  --line-height: 1.17;
}
