.homePage {
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-right.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-bottom-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png'),
    url('../../images/bg-cabbage-elements/bg-top-right.png'),
    url('../../images/bg-cabbage-elements/bg-top-left.png');
  background-repeat: no-repeat;
  background-size: 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px, 83px,
    83px, 83px, 83px, 83px, 83px, 83px, cover;
  background-position: top 91px left 10px, top 28px left 140px,
    top 177px left 152px, top 28px left 389px, top 91px left 259px,
    top 28px left 389px, top 91px left 508px, top 28px left 638px,
    top 91px left 757px, top 28px left 887px, top 91px left 1006px,
    top 165px left 1128px, top 28px left 1136px, top 91px left 1255px,
    top 621px left 230px, top 602px left 324px;
}
