@media screen and (min-width: 767px) {
  .container {
    position: relative;
    /* margin-left: auto;
      margin-right: auto; */
    margin: 0;
    width: 665px;
    height: 626px;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    width: 1060px;
    height: 579px;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}

/*---------------->*/
.table_wrapper {
  /* background-color: green; */

  /* position: relative; */
  display: inline-block;
  align-content: center;
  margin: 10px;
}

.table_month {
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .table_wrapper {
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1279px) {
  .table {
    /* position: relative; */
    margin-right: 50px;
    max-width: 760px;
  }
}

@media screen and (min-width: 1279px) {
  .table_month {
    /* border: 3px solid green; */
    background-color: #fff;
    position: absolute;
    bottom: 140px;
    right: 20px;
    margin-left: 20px;
    /* padding: 60px 30px 160px 20px; */
    width: 230px;
    height: 278px;
  }
}

@media screen and (min-width: 767px) {
  .table_month {
    margin: 75px 0 0 -400px;
  }
}

@media screen and (max-width: 768px) {
  .table_month {
    display: none;
  }
}
/*<----------------*/
