@media screen and (min-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 665px;
    height: 626px;
    background: #ffffff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}

@media screen and (min-width: 1279px) {
  .container {
    width: 1060px;
    height: 579px;
    background: #ffffff;

    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}
